form.signup,
form.login {
  margin-top: 50px;
  color: #333;
}

a{
  color: blanchedalmond;
  font-size: 18px;
}

a:hover{
  color: #111;
  text-decoration: none;
}

body{
  background-color: #607d8b;
} 
.container{
  background-color: #607d8b;
} 

.nav-container{
  background-color: #607d8b;
  height: 75px;
}

.card{
  opacity: 0.7;
}

.card-stacked{
  background-color: #607d8b
}
/* .container-head{
  background-color: blanchedalmond;
} */
.card-content{
  background-color: #4db6ac;
}

h1{
  font-family: 'Roboto', sans-serif;
}
.card-title{
  font-family: 'Roboto', sans-serif;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color:blanchedalmond;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: #607d8b;
}