form.signup,
form.login {
  margin-top: 50px;
  color: #333;
}

body {
  background-color: #607d8b;
}

a{
  color: blanchedalmond;
  font-size: 18px;
}

a:hover{
  color: #111;
  text-decoration: none;
}

.nav-container{
  background-color: #607d8b;
  height: 75px;
}

.card{
  opacity: 0.7;
}

.card-stacked{
  background-color: #607d8b
}

.card-content{
  background-color: #4db6ac;
}

h1{
  font-family: 'Roboto', sans-serif;
}
.card-title{
  font-family: 'Roboto', sans-serif;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color:blanchedalmond;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: #607d8b;
}

.page-fade {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}